<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />		
	</configSections>
	<appSettings>
		<!-- write log messages to the console. -->
		<!--add key="EFTracingProvider.logToConsole" value="true" /-->
		<!-- append log messages to the specified file -->
		<!--add key="EFTracingProvider.logToFile" value="ProjectsContext.txt" /-->
	</appSettings>
	<connectionStrings>
		<add name="ProjectsContextLocalDB" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=Succinctly.mdf" providerName="System.Data.SqlClient" />
		<add name="ProjectsContext" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Succinctly;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
		<add name="ProjectsContextOracle" connectionString="Data Source=localhost:1521/orcl;Password=succinctly;User Id=succinctly;" providerName="Oracle.DataAccess.Client" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<contexts>
			<!--context type="Succinctly.Model.ProjectsContext, Succinctly.Model">
				<databaseInitializer type="System.Data.Entity.CreateDatabaseIfNotExists`1[[Succinctly.Model.ProjectsContext, Succinctly.Model]], EntityFramework"-->
					<!-- only required if the initializer constructor receives parameters -->
					<!--parameters>
					<parameter value="MyConstructorParameter" type="System.Int32" />
				</parameters-->
			<!--/databaseInitializer>
			</context-->
		</contexts>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<!--system.data>
		<DbProviderFactories>
			<add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
			<add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
			<add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
		</DbProviderFactories>
	</system.data-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>